div.region-contact-no {
  margin-top: 0!important;
}

#block-locale-language ul li {
  list-style-type: none;
  float: left;
  padding: 0 0.5em;
}

.forum-pager .pager {
  width: 70%;
}

.forum-post-panel-sub .author-pane {
  display: none;
}

#rules-form-wrapper ul li {
  padding-left: 1em;
}

span.submitted {
  padding: 0 0 0.6em;
}

.content footer {
  margin-top: 1em;
}

ul.links li {
  margin-right: 1em;
}